:root {
  --Page: rgb(228, 228, 228);
  --Dark: darkslategray;
  --Link: white;
  --Text: black;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  text-align: justify;
  color: var(--Text);
}

footer p {
  text-align: center;
  color: white;
}

a:hover {
  color: lightseagreen;
}

.changer {
  border-radius: 100%;
  background-color: var(--Dark);
  color: var(--Link);
  position: fixed;
  top: 3%;
  right: 3%;
  text-align: center;
  width: 3%;
  height: 5%;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 1000;
}

.typing-demo {
  width: 50%;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  margin-top: 10px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 800px) {
  .changer {
    width: 10%;
  }
}
